// Place all the styles related to the Mangas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1, h2, h3, h4, h5, h6 {
	font-family: 'Righteous', cursive;
	color:pink
}